@font-face {
  font-family: "Zen Antique Soft";
  src: url("fonts/ZenAntiqueSoft-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Zen Kaku Gothic New";
  src: url("fonts/ZenKakuGothicNew-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Zen Kaku Gothic New";
  src: url("fonts/ZenKakuGothicNew-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Zen Kaku Gothic New";
  src: url(fonts/ZenKakuGothicNew-Bold.ttf) formt("truetype");
}
@font-face {
  font-family: "La Belle Aurore", cursive;
  src: url("fonts/LaBelleAurore-Regular.ttf") format("truetype");
}
@keyframes infinity-scroll-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  min-height: 100%;
}

.tommorow {
  position: relative;

  width: 100%;
  height: 405px;

  background-color: #f8f9fb;

  overflow: hidden;
}

/* =========================
   左側の文章
========================= */

.tommorow-sentence {
  position: absolute;

  left: 8%;
  top: 55px;

  width: 230px;

  z-index: 2;
}

.tommorow-sentence p {
  margin: 0 0 27px;

  color: #3b3b3b;

  font-family: "Zen Kaku Gothic New";

  font-size: 8px;
  line-height: 1.8;

  letter-spacing: 0.08em;
}

/* 「あの町に行きたい。」 */

.tommorrw-sentence-big {
  margin-top: 38px !important;
  margin-bottom: 31px !important;

  font-size: 10px !important;
}

/* =========================
   右側の写真
========================= */

.tommorow-image {
  position: absolute;

  top: 48px;
  right: 8%;

  width: 52%;
  height: 270px;

  object-fit: cover;

  display: block;

  z-index: 1;
}

.information-title {
  display: flex;
  align-items: center;
  width: 90%;
  margin: 0 auto 30px;
  gap: 4px;
}

.information-number {
  font-family: "Zen Kaku Gothic New";
  font-size: 76px;
  font-weight: 300;
  color: #bbded6;
}

.information-text {
  font-family: "Zen Kaku Gothic New";
  font-size: 30px;
  font-weight: 600;
  color: #3b3b3b;
  margin-top: 40px;
}

.scroll-infinity {
  width: 100%;
  overflow: hidden;
}

.scroll-infinity_wrap {
  display: flex;
  overflow: hidden;
  gap: 15px;
}

.scroll-infinity_list {
  display: flex;
  flex-shrink: 0;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 15px;

  animation: infinity-scroll-left 20s linear infinite;
}

.scroll-infinity_item {
  width: 100vw/4;
  flex-shrink: 0;
  position: relative;
}

.destination-name {
  position: absolute;

  left: 10px;
  bottom: 30px;

  margin: 0;
  color: #f8f9fb;
  font-family: "Zen Antique Soft";
  font-size: 30px;
}

.destination-text {
  position: absolute;
  right: 10px;
  bottom: 14px;
  margin: 0;
  color: #f8f9fb;
  font-family: "Zen Kaku Gothic New";
  font-size: 10px;
}

.scroll-infinity_item img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  display: block;
}

.buttom-sentence {
  display: flex;
  justify-content: flex-end;
  margin-top: 32px;
  padding-right: 60px;
}

.buttom-text {
  text-align: right;
  color: #3b3b3b;
  font-family: "Zen Kaku Gothic New";
  font-size: 16px;
}

.header {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 37px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 60px;

  background-color: rgba(255, 255, 255, 0.15);
}

.header-copy {
  color: #f8f9fb;
  font-family: "Zen Kaku Gothic New";
  font-size: 10px;
  letter-spacing: 0.08em;
}

.header-nav {
  display: flex;
  gap: 20px;
}

.header-nav a {
  color: #666;
  text-decoration: none;
  font-family: "Zen Kaku Gothic New";
  font-size: 9px;
}

/* =========================================
   HERO
========================================= */

.hero {
  position: relative;
  width: 100%;
  height: 600px;
  overflow: hidden;
}

.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.hero-message {
  position: absolute;
  top: 67px;
  right: 28px;

  color: #fff;

  font-family: "Zen Kaku Gothic New";
  font-size: 15px;
  line-height: 2.4;
  letter-spacing: 0.15em;

  writing-mode: vertical-rl;
}

.hero-message p {
  margin: 0;
}

/* =========================================
   TOKYO
========================================= */

.tokyo {
  position: relative;
  width: 100%;
  height: 600px;
  background: #f8f9fb;
  overflow: hidden;
}

.tokyo-gray {
  position: absolute;
  left: 0;
  top: 20px;

  width: 38%;
  height: 290px;

  background: #4d4d4d;
}

.tokyo-main-image {
  position: absolute;
  left: 13.5%;
  top: 2px;

  width: 43%;
  height: 116px;
}

.tokyo-main-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tokyo-main-image p {
  position: absolute;
  left: 15px;
  bottom: 8px;

  color: #fff;

  font-family: "Zen Kaku Gothic New";
  font-size: 24px;
  letter-spacing: 0.04em;
}

.tokyo-text {
  position: absolute;
  top: 48px;
  right: 14%;

  font-family: "Zen Kaku Gothic New";
  font-size: 12px;
  line-height: 2;
}

.tokyo-sub-image {
  position: absolute;
  right: 0;
  top: 114px;

  width: 35%;
  height: 106px;
}

.tokyo-sub-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tokyo-small-image {
  position: absolute;
  left: 25.5%;
  bottom: 10px;

  width: 31%;
  height: 83px;
}

.tokyo-small-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tokyo-caption {
  position: absolute;
  right: 8%;
  bottom: 35px;

  width: 36%;

  font-family: "Zen Kaku Gothic New";
  font-size: 8px;
  line-height: 2.2;
  text-align: right;
}

.tokyo-left-text {
  position: absolute;
  font-family: "Zen Kaku Gothic New";
  left: 7%;
  top: 150px;

  width: 28%;

  color: #fff;

  font-family: "Zen Kaku Gothic New";
  font-size: 8px;
  line-height: 2.2;
}

/* =========================================
   MAP
========================================= */

.map-section {
  position: relative;
  width: 100%;
  height: 478px;

  overflow: hidden;

  background-color: #bbded6;
}

.map-bg {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 130px;

  background-image: url("images/sky.png");
  background-size: cover;
  background-position: center;

  opacity: 0.8;
  z-index: 0;
}

.map-intro {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 130px;

  color: #fff;
  font-family: "Zen Kaku Gothic New";
  font-size: 8px;
  line-height: 2.2;

  z-index: 2;
}

/* 左上 */
.map-intro p:first-child {
  position: absolute;
  top: 19px;
  left: 8%;
}

/* 右下 */
.map-intro p:last-child {
  position: absolute;
  right: 8%;
  bottom: 17px;

  text-align: right;
}

/* MAP title */

.map-title {
  position: absolute;
  top: 135px;
  left: 10%;

  display: flex;
  align-items: baseline;
}

.section-number {
  font-family: "Zen Kaku Gothic New";
  font-size: 52px;
  font-weight: 400;

  color: #fff9bd;
}

.section-name {
  margin-left: 5px;

  color: #3b3b3b;

  font-family: "Zen Kaku Gothic New";
  font-size: 25px;
  font-weight: 500;
}

/* guide */

.map-guide {
  position: absolute;
  left: 9%;
  top: 210px;

  display: flex;
  align-items: center;
  gap: 10px;
}

.map-guide p {
  font-family: "Zen Kaku Gothic New";
  font-size: 7px;
  color: #3b3b3b;
}

.map-pin-icon {
  position: relative;

  display: block;

  width: 18px;
  height: 18px;

  border-radius: 50%;

  background-color: #f8f9fb;
}

.map-pin-icon::after {
  content: "";

  position: absolute;

  left: 6px;
  top: 5px;

  width: 6px;
  height: 6px;

  border-radius: 50%;

  background-color: #777;
}

/* =========================================
   MAP PLACES
========================================= */

.map-place {
  position: absolute;

  text-align: center;
}

.map-photo {
  position: relative;

  width: 64px;
  height: 64px;

  padding: 9px;

  border-radius: 50%;

  background: #f8f9fb;
}

.map-photo img {
  width: 100%;
  height: 100%;

  border-radius: 50%;

  object-fit: cover;
}

.map-place p {
  display: inline-block;

  min-width: 52px;

  margin-top: 7px;
  padding: 3px 10px;

  border-radius: 20px;

  background: #aaa;

  color: #fff;

  font-family: "Zen Kaku Gothic New";
  font-size: 6px;
}

/* position */

.roma {
  top: 160px;
  right: 25%;
}

.norwich {
  top: 270px;
  left: 39%;
}

.hayama {
  top: 275px;
  right: 12%;
}

.okinawa {
  top: 365px;
  left: 15%;
}

.hakone {
  top: 375px;
  left: 52%;
}
.trip {
  position: relative;
  width: 100%;
  height: 370px;
  background-color: #4d4d4d;
  overflow: hidden;
}

/* =========================
   画像エリア
========================= */

.trip-images {
  position: absolute;
  left: 8%;
  top: 18px;

  width: 360px;
  height: 338px;
}

/* 画像共通 */

.trip-image {
  position: absolute;
  display: block;

  object-fit: cover;
}

/* パリ */

.trip-image-paris {
  width: 130px;
  height: 135px;

  left: 0;
  top: 0;
}

/* 飛行機 */

.trip-image-airplane {
  width: 205px;
  height: 250px;

  left: 78px;
  top: 87px;
}

/* =========================
   find your own way
========================= */

.trip-text {
  position: absolute;

  left: 9%;
  bottom: 18px;

  z-index: 10;
}

.trip-text p {
  margin: 0;

  color: #fff;

  font-family: "La Belle Aurore", cursive;

  font-size: 34px;
  line-height: 1.05;
}

/* =========================
   右側
========================= */

.trip-message {
  position: absolute;

  top: 45px;
  right: 8%;

  width: 38%;

  color: #fff;

  font-family: "Zen Kaku Gothic New";

  z-index: 10;
}

/* 旅。 */

.trip-message-title {
  margin: 0 0 42px;

  font-family: "Zen Antique Soft";

  font-size: 42px;
  line-height: 1;

  text-align: right;
}

/* 上の文章 */

.trip-message-small {
  margin-bottom: 35px;

  font-size: 8px;
  line-height: 3;

  text-align: right;
}

.trip-message-small p {
  margin: 0;
}

/* 下の文章 */

.trip-message-big {
  margin: 0;

  color: #f5e9b0;

  font-size: 16px;
  line-height: 1.8;

  text-align: right;
}

.tommorow {
  position: relative;

  width: 100%;
  height: 225px;

  background-color: #f8f9fb;
}

.tommorow-sentence {
  position: absolute;

  left: 8%;
  top: 35px;

  width: 40%;
}

.tommorow-sentence p {
  font-family: "Zen Kaku Gothic New";
  font-size: 7px;

  letter-spacing: 0.08em;

  margin-bottom: 10px;

  white-space: nowrap;
}

.tommorow-sentence-big {
  font-size: 12px !important;

  margin-top: 22px;
  margin-bottom: 16px !important;
}

.tommorow-image {
  position: absolute;

  right: 8%;
  top: 30px;

  width: 52%;
  height: 150px;
}

.tommorow-image img {
  width: 100%;
  height: 100%;

  object-fit: cover;
}

/* =========================================
   INFORMATION
========================================= */

.information {
  position: relative;

  width: 100%;

  padding-top: 25px;

  background: #f8f9fb;
}

.information-title {
  margin-bottom: 25px;
}

.information-number {
  font-size: 55px;
}

.information-text {
  font-size: 23px;
  margin-top: 30px;
}

/* =========================================
   INFINITY SCROLL
========================================= */

.scroll-infinity {
  width: 100%;
  overflow: hidden;
}

.scroll-infinity_wrap {
  display: flex;

  width: max-content;

  gap: 10px;
}

.scroll-infinity_list {
  display: flex;

  flex-shrink: 0;

  list-style: none;

  gap: 10px;

  animation: infinity-scroll-left 20s linear infinite;
}

.scroll-infinity_item {
  position: relative;

  width: calc(25vw - 8px);

  flex-shrink: 0;
}

.scroll-infinity_item img {
  width: 100%;
  height: 150px;

  object-fit: cover;

  display: block;
}

.destination-name {
  left: 7px;
  bottom: 25px;

  font-size: 15px;
}

.destination-text {
  right: 7px;
  bottom: 8px;

  font-size: 5px;
}

/* =========================================
   INFORMATION TEXT
========================================= */

.buttom-sentence {
  display: flex;

  justify-content: flex-end;

  margin-top: 20px;

  padding-right: 10%;

  padding-bottom: 30px;
}

.buttom-text {
  font-size: 7px;
  line-height: 2.2;
}

/* =========================================
   FOOTER
========================================= */

.footer {
  position: relative;

  width: 100%;
  height: 190px;

  background-image:
    linear-gradient(rgba(80, 100, 115, 0.35), rgba(80, 100, 115, 0.35)),
    url("images/footer.png");

  background-size: cover;
  background-position: center;

  color: #fff;
}

.footer-content {
  position: absolute;

  left: 0;
  top: 65px;

  width: 100%;

  text-align: center;

  font-family: "Zen Kaku Gothic New";
  font-size: 8px;

  line-height: 3;
}

.top-button {
  position: absolute;

  right: 9%;
  bottom: 12px;

  display: flex;

  align-items: center;
  justify-content: center;

  width: 85px;
  height: 20px;

  border-radius: 20px;

  background: #666;

  color: #fff;

  font-family: "Zen Kaku Gothic New";
  font-size: 6px;

  text-decoration: none;
}

.site {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;

  overflow: hidden;

  background-color: #f8f9fb;
}
